@model DBML.Models.User

@{
    ViewBag.Title = "Register";
}

<link href="~/Style/UI.css" rel="stylesheet" />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
 
    <fieldset style="width:600px; border:solid 5px green; margin-left:5in;">
        <legend> <b>User Register</b></legend>
        @Html.AntiForgeryToken()
        @if (ViewBag.Message != null)
        {
            <div style="border:solid 50px green; width:400px">
                @ViewBag.Message
            </div>
        }
        <div class="lable">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="input">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
 
        <div class="lable">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="input2">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
 
        <div class="lable">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="input2">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div class="lable">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="input">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <p class="button">
            <input type="submit" value="Create" />
        </p>
    </fieldset>
} 
